<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Joining date:</strong>
  <%= @member.joining_date %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @member.birthdate %>
</p>

<p>
  <strong>Identity document:</strong>
  <%= @member.identity_document %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @member.cpf %>
</p>

<p>
  <strong>Food restrictions:</strong>
  <%= @member.food_restrictions %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
